body {
  background-color: #e66349;
  color: #bbaaaa;
}

#center-background {
display: grid;
margin: auto;
margin-top: 7%;
width: 80%;
height: 100%;
background-color: #1d1d20;
border-radius: 5px;
}



h1 {
  text-align: center;
  margin-top: 100%;
  color:#ece2e2;
}

.scroll {
  margin-top: 75%;
}

h2 {
  text-align: center;
  margin-top: 75%;
}

#headshotImage {
  margin: auto;
  margin-top: 75%;
}

#ticTacToe {
  margin: auto;
  length: 75%;
  height: 75%;
}

