html {
  min-width: 100%;
  min-height: 100%;
}


body {
  background-color: #e66349;
  color: #bbaaaa;
  height: 9000px;
}

#center-background {
display: grid;
margin: auto;
margin-top: 7%;
width: 80%;
height: 100%;
background-color: #1d1d20;
border-radius: 5px;
}



h1 {
  text-align: center;
  margin-top: 500px;
  color:#ece2e2;
}

.scroll {
  margin-top: 350px;
}

h2 {
  text-align: center;
  margin-top: 300px;
}

#headshotImage {
  margin: auto;
  margin-top: 75%;
}

#ticTacToe {
  margin: auto;
  width: auto;
  height: 75%;
}

