html {
  min-width: 100%;
  min-height: 100%;
}


body {
  background-color: #e66349;
  color: #bbaaaa;
  height: 9000px;
}

#center-background {
display: grid;
margin: auto;
margin-top: 7%;
width: 80%;
height: 100%;
background-color: #1d1d20;
border-radius: 5px;
}



h1 {
  text-align: center;
  margin-top: 500px;
  color:#ece2e2;
}

.scroll {
  margin-top: 350px;
}

.intro {
  font-size: 0px;
}

h2 {
  text-align: center;
  margin-top: 300px;
}

#headshotImage {
  margin: auto;
  margin-top: 75%;
}

#ticTacToe {
  margin: auto;
  width: auto;
  height: 75%;
}

button {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: aqua;
  bottom: 0;
  right: 10.6%;
  border-radius: 50%;
}

#arrow {
  width: 5px;
  height: 5px;
  background-color: black;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}